/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,700,300,600&subset=latin,latin-ext);

html {
    color: #E6E6E6;
    font-size: 1em;
    line-height: 1.4;
    background-color: #151515;
    font-family: Titillium Web, sans-serif;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #B3D4FC;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #CCC;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
s

/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Titillium Web, Helvetica, Helvetica Neue, Arial;
    background-color: #151515;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    border-bottom: 20px solid #00F54B;
}

.footer-container,
.main aside {
    border-top: 20px solid #00F54B;
}

.header-container,
.footer-container,
.main aside {
    background: #000;
}

.title {
    color: white;
}

.footer-container {
    margin-top: 3%;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-top: 25px;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 10px 0;

    text-align: center;
    text-decoration: none;
    font-size: 14pt;
    font-weight: bold;

    color: white;
    background: #000;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    /*text-decoration: no-underline;*/
    color: #00F54B;
    background: #151515;
    border-bottom: 4px solid #00F54B;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: #E6E6E6;
    padding: 0px 2% 10px;
    margin-top: 3%;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#team-logo {
    max-width: 270px;
    display: block;
    float: left;
}

#team-logo-ft {
    max-width: 150px;
    display: block;
    float: left;
}

article a {
    color: #00F54B;
    text-decoration: none;
}

article a:hover {
    text-decoration: underline;
}

article a:visited {
    color: #00AAF5;
}

article p {
    text-align: justify;
}

article li {
    margin-left: 10%;
    padding-left: 1%;
}

article img {
    /*min-width: 200px;*/
    width: 30%;
    float: left;
    padding: 2.5%;
    padding-left: 0;
}

footer {
    overflow: hidden;
}

aside a {
    color: #00F54B;
    text-decoration: none;
}

aside a:hover {
    text-decoration: underline;
}

aside a:visited {
    color: #00AAF5;
}

aside p {
    text-align: justify;
}

.img-front {
    min-width: 200px;
}

/*------------------------------
= Sección de glería en INDEX
------------------------------*/
.galeria {
    padding: 3%;
    overflow: hidden;
}
.galeria img {
    background: #FFF;
    padding: 6px;
    border: solid 1px #000;
    margin: 2px;

}
/*------------------------------
= Botón de descarga en INDEX
------------------------------*/
.btn-index {
    display: inline-block;
    float: right;
    border:0;
    background: #00F54B;
    height: 46px;
    line-height: 46px;
    padding: 0 20px;
    border-radius: 6px;
    color:#000;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.btn-index:hover {
    background: #00AAF5;
    color: #000;
}
/*------------------------------
= Items de descarga
------------------------------*/
.item {
    border-top: 20px solid #00F54B;
    background-color: #000;
    padding: 0px 2% 2%;
    margin-bottom: 2%;
    overflow: hidden;
}

button img {
    max-height: 32px;
    max-width: 32px;
}

button {
    width: 150px;
    height: 50px;
    float: right;
    margin: 4px;
    background: #151515;
    border-style: solid;
    border-color: #FFF;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}

button:hover {
    background: #00F54B;
    border-color: #00F54B;
    color: #000;
}
button:hover img{
    color: #000;
    -webkit-filter: invert(100%);
}

/*------------------------------
= FancyBox para la galeria de imagenes
------------------------------*/
.fancybox img {
    width: 20%;
    min-width: 100px;
}

/*------------------------------
= Formulario de contacto
------------------------------*/
.form-consulta {
    max-width: 500px;
    background: #000;
    padding: 25px;
    font-family: Titillium Web, 'Source Sans Pro', sans-serif;
    
    border-top: 15px solid #00F54B;

    -webkit-box-shadow: 0 5px 10px #81F79F;
        -moz-box-shadow: 0 5px 10px #81F79F;
            box-shadow: 0 5px 10px #81F79F;
}
.campo-form {
    width:100%;
    height:36px;
    margin:2px 0 6px;
    padding-left:6px;
    box-sizing: border-box;
    border-radius:3px;
    border:0;
    color: #000;
    font-family: Titillium Web, 'Source Sans Pro', sans-serif;
    font-size:1em;
}
label span {
    color: #00F54B;
}
textarea {
    min-height: 150px!important;
}
.btn-form {
    display: inline-block;
    border:0;
    background: #151515;
    height: 46px;
    line-height: 46px;
    padding: 0 20px;
    border-radius: 6px;
    color:#FFF;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.btn-form:hover {
    background: #00F54B;
    color: #000;
}

/*------------------------------
=Botones redes de contacto
------------------------------*/
.btredes img {
    margin-left: 2%;
    justify-content: space-around;
}

.redes {
    width: 17%;
    min-width: 32px;
    background-color: #000;
    border-radius: 50%;
}

.redes:hover {
   background-color: #00F54B;
   -webkit-box-shadow: 0 0 45px #81F79F;
        -moz-box-shadow: 0 0 45px #81F79F;
            box-shadow: 0 0 45px #81F79F;
    border-radius: 50%;
}




/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: left;
        width: 20%;
        margin: 0 1.7%;
        padding: 25px 1%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }
    
/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #81F79F;
           -moz-box-shadow: 0 5px 10px #81F79F;
                box-shadow: 0 5px 10px #81F79F;
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 48%;
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 65%;
    }

    .main aside {
        float: right;
        width: 28%;
    }

}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}